.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__top {
    text-align: center;
    margin-bottom: 50px;

    h2 {
      font-size: 28px;
      margin-bottom: 5px;
    }

    p {
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.1px;
      opacity: 0.5;
      margin-bottom: 0;
    }
  }

  &__success {
    &-icon {
      fill: #3674FF;
      width: 55px;
      height: 61px;
      margin-bottom: 15px;
    }

    &-block  {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 517px;
    }
  }

  &_name {
    margin-bottom: 15px;
  }

  &_pass {
    margin-bottom: 15px;
  }

  &_mail {
    margin-bottom: 15px;

    &-error {
      margin-bottom: 15px;
      border: 1px solid red;
    }

    &-success {
      margin-bottom: 15px;
      border: 1px solid lawngreen;
    }
  }

  &__register-link {
    display: block;
    font-size: 16px;
    color: #ADADAD;
    margin-top: 30px;
    text-align: center;
  }
}